**.err
FASTQ
logs
Mutect2
pipeline_info
Reports
./VariantCalling
work/
Preprocessing
!Preprocessing/TSV/recalibrated.tsv
SAREK_1/work
SAREK_1/Preprocessing
!SAREK_1/Preprocessing/TSV/recalibrated.tsv
SAREK_1/VariantCalling
SAREK_1/Reports
SAREK_1/pipeline_info
.nextflow**
.snakemake/
.vscode/
nf.config
