**.err
FASTQ
logs
Mutect2
pipeline_info
Reports
./VariantCalling
work/
Preprocessing
!Preprocessing/TSV/recalibrated.tsv
SAREK_1/work
SAREK_1/Preprocessing
!SAREK_1/Preprocessing/TSV/recalibrated.tsv
SAREK_1/VariantCalling
SAREK_1/Reports
SAREK_1/pipeline_info
.nextflow**
.snakemake/
.vscode/
nf.config
old_logs
**_to_keep.txt
VEP
MAF
MAF_v2
GL_variant
.vep/
4**.txt
MAF_old/